body {
    margin: 8px 3px 0;
    overflow: auto;
}
.row {
    padding: 5px 0;
}
.row > * {
    display: inline-block;
}
.row > div {
    text-align: center;
    margin: 5px;
}
.row:first-of-type {
    padding: 0;
}
.row:first-of-type * {
    display: inline-block;
}
.row input[type="text"]:not(.large) {
    width: 40px;
}
.row:nth-of-type(2n) {
    margin-top: 10px;
    background: #555;
}
.increase,
.decrease {
    width: 25px;
}
#path {
    width: 200px;
}
#path-warning {
    color: red;
    display: none;
}
#notes {
    width: 100%;
    height: 250px;
}
#start-position {
    border: none;
    background: #555;
    outline: none;
    color: white;
}
.color-selector {
    background: #555;
    border-radius: 100%;
    height: 13px;
    width: 13px;
    bottom: 4px;
    position: relative;
    transition: ease 0.3s;
}
/*input[type="checkbox"] {
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    text-align: left;
}
input[type="checkbox"].hatches {
    width: 30px;
}
input[type="checkbox"]:checked {
    background-color: gray;
}
input[type="checkbox"]:checked.hatches {
    background-color: yellow;
}
input[type="checkbox"]:checked.balls {
    background-color: orange;
}*/
