@property --icon-color {
    syntax: '<color>';
    inherits: true;
    initial-value: black;
}

:root {
    --nav-height: 40px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-flow: row nowrap;
    align-items: center;
    height: var(--nav-height);
    width: 100vw;
    padding: 0px 20px;
}

main {
    position: relative;
    top: var(--nav-height);
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: calc(100vh - var(--nav-height));
}

main > section {
    padding: 20px 10px;
}

main.connected .disconnected, main:not(.connected) .connected {
    display: none !important;
}

main.receive .send, main.send .receive {
    display: none !important;
}

.icon {
    --icon-color: rgb(131, 131, 131);
}

#device-viewer {
    display: flex;
    flex-flow: column nowrap;
    width: 65%;
    height: 100%;
}

#device-list {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    overflow-y: scroll;
}

#device-list > .device {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1 0 auto;
    height: 65px;
    width: 100%;
    padding: 10px 20px;
}

#device-list > .device:not(:last-child) {
    border-bottom: solid 2px #444;
}

#device-list > .device:hover {
    background: #555;
}

.device > button {
    margin-left: auto;
}

.device.received > button {
    color: rgb(115, 245, 115);
    border: 1px solid rgb(115, 245, 115);
}

#settings {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    gap: 20px;
    height: 100%;
}

#broadcast-steps {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20px;
    flex: 1 1 auto;
    margin-top: 20px;
    width: 100%;
}

.broadcast-step {
    text-align: center;
    flex: 1 1 auto;
    width: 25%;
}

.broadcast-step > h3 {
    min-height: 50px;
}

.broadcast-step > svg {
    --icon-color: rgb(131, 131, 131);
}

.broadcast-step.complete > svg {
    --icon-color: green;
}

.broadcast-step.current > svg {
    animation: pulse 2s infinite ease-in-out;
}

#broadcast-complete-step.current > svg {
    animation: none;
    --icon-color: green;
}

.broadcast-step.complete .instruction, .broadcast-step.current .instruction {
    display: none
}

input[type="file"] {
    width: 150px;
    border: none;
}

.file-label {
    border: none;
    background: #444;
    padding: 5px;
    outline: none;
    color: white;
    font-size: inherit;
}

.file-label:not(:disabled) {
    color: #eee;
    cursor: pointer;
    width: auto;
}

.file-label:hover:not(:disabled) {
    color: #ccc;
}

.file-label:active:not(:disabled) {
    color: #aaa;
}

.file-label:disabled {
    color: rgb(131, 131, 131);
}

@keyframes pulse {
    from {
        --icon-color: rgb(131, 131, 131);
    }
    50% {
        --icon-color: #1d7ac8;
    }
    to {
        --icon-color: rgb(131, 131, 131);
    }
}