* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #333;
    font: 14px sans-serif;
    color: white;
}
section {
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 5px 7px;
    color: white;
    border: solid 1px grey;
    box-sizing: content-box;
}
td:first-child {
    border-left: none;
}
tr:first-child td {
    border-top: none;
}
th {
    vertical-align: bottom;
    border: none;
    background: #444;
}
td {
    white-space: nowrap;
    overflow: auto;
    max-width: 100px;
}
input {
  background: #444;
  margin: 10px;
}
#warning {
    display: none;
    box-sizing: content-box;
    width: 110px;
    height: 110px;
    padding: 125px;
    border-radius: 50%;
    color: white;
    font-size: 17px;
    background-color: #555;
    border: solid 1px white;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    animation: enlarge 1s;
}
@keyframes enlarge {
    from { padding: 5px; }
    to { padding: 125px; }
}

.file-label, input[type="text"],
button {
    border: none;
    background: #444;
    padding: 5px;
    outline: none;
    color: white;
    font-size: inherit;
}
input[type="file"] {
    display: none;
}
.file-label, button {
    color: #eee;
    cursor: pointer;
    width: auto;
}
.file-label:hover, button:hover {
    color: #ccc;
}
.file-label:active, button:active {
    color: #aaa;
}

#processing {
    margin-left: 10px;
    position: relative;
    float: left;
}
#processing > * {
    display: inline-block;
    vertical-align: middle;
}
#processing #input-list {
    list-style-type: none;
  }
#delete {
  position: relative;
  float: right;
  height: 50px;
  width: 50px;
  margin: 10px;
}
#delete-button {
    background: #d12727;
    height: 50px;
    width: 50px;
    box-shadow: 3px 3px 12px rgba(12, 12, 12, 0.5);
    transition: ease 0.2s;
    border-radius: 100%;
}
#delete-button:hover {
    box-shadow: 4.5px 4.5px 12px rgba(12, 12, 12, 0.5);
    cursor: pointer;
}
#garbage {
  position: relative;
  height: 30px;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
