section {
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 5px 7px;
    color: white;
    border: solid 1px grey;
    box-sizing: content-box;
}
td:first-child {
    border-left: none;
}
tr:first-child td {
    border-top: none;
}
th {
    vertical-align: bottom;
    border: none;
    background: #444;
}
td {
    white-space: nowrap;
    overflow: auto;
    max-width: 100px;
}
#warning {
    display: none;
    box-sizing: content-box;
    width: 110px;
    height: 110px;
    padding: 125px;
    border-radius: 50%;
    color: white;
    font-size: 17px;
    background-color: #555;
    border: solid 1px white;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    animation: enlarge 1s;
}
@keyframes enlarge {
    from { padding: 5px; }
    to { padding: 125px; }
}
<<<<<<< HEAD
.file-label, button {
=======

.file-label, input[type="text"],
button {
>>>>>>> Add delete match button
    border: none;
    background: #444;
    padding: 5px;
    outline: none;
    color: white;
    font-size: inherit;
}
.file-label, button {
    color: #eee;
    cursor: pointer;
    width: auto;
}
.file-label:hover, button:hover {
    color: #ccc;
}
.file-label:active, button:active {
    color: #aaa;
}
#processing {
    margin-left: 10px;
}
#processing > * {
    display: inline-block;
    vertical-align: middle;
}
#processing #input-list {
    list-style-type: none;
  }

#delete {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}
#delete * {
    display: inline-block;
}
#delete-button {
    position: relative;
    background: #d12727;
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: lighter;
    box-shadow: 3px 3px 12px rgba(12, 12, 12, 0.5);
    transition: ease 0.5s;
    bottom: 14px;
    user-select: none;
}
#delete-button:hover {
    box-shadow: 5px 5px 12px rgba(12, 12, 12, 0.5);
}
#delete-button p {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#match {
    border: none;
    background: #444;
    padding: 5px;
    margin: 1px;
    outline: none;
    font-size: 14px;
    color: white;

}
#input-list li > div:hover {
    text-decoration: line-through;
    cursor: pointer;
}
