section {
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 5px 7px;
    color: white;
    border: solid 1px grey;
    box-sizing: content-box;
}
td:first-child {
    border-left: none;
}
tr:first-child td {
    border-top: none;
}
th {
    vertical-align: bottom;
    border: none;
    background: #444;
}
td {
    white-space: nowrap;
    overflow: auto;
    max-width: 100px;
}
#warning {
    display: none;
    box-sizing: content-box;
    width: 110px;
    height: 110px;
    padding: 125px;
    border-radius: 50%;
    color: white;
    font-size: 17px;
    background-color: #555;
    border: solid 1px white;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    animation: enlarge 1s;
}
@keyframes enlarge {
    from { padding: 5px; }
    to { padding: 125px; }
}
.file-label, button {
    border: none;
    background: #444;
    padding: 5px;
    outline: none;
    color: white;
    font-size: inherit;
}
.file-label, button {
    color: #eee;
    cursor: pointer;
    width: auto;
}
.file-label:hover, button:hover {
    color: #ccc;
}
.file-label:active, button:active {
    color: #aaa;
}
#processing {
    margin-left: 10px;
}
#processing > * {
    display: inline-block;
    vertical-align: middle;
}
#processing #input-list {
    list-style-type: none;
}
#input-list li > div:hover {
    text-decoration: line-through;
    cursor: pointer;
}
