* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 14px sans-serif;
    color: white;
}
body {
    background: #333;
    margin: 3px;
    overflow: scroll;
}
input[type="number"],
input[type="text"],
button {
    border: none;
    background: #444;
    padding: 5px;
    margin: 1px;
    outline: none;
    width: 40px;
}
button {
    color: #eee;
    cursor: pointer;
    width: auto;
}
button:hover {
    color: #ccc;
}
button:active {
    color: #aaa;
}
.row {
    white-space: nowrap;
    padding: 5px 0;
}
.row > * {
    display: inline-block;
}
.row > div {
    text-align: center;
    margin: 5px;
}
.tasks img {
    display: block;
    fill: white;
    height: 120px;
    margin-bottom: 10px;
}
.row:first-of-type {
    padding: 0;
}
.row:first-of-type * {
    display: inline-block;
}
.row input {
    width: 40px;
}
.row:nth-of-type(5),
.row:nth-of-type(6) {
    background: #555;
    padding: 10px 0;
}
h1 {
    font-weight: bold;
    font-size: 30px;
    margin: 0 10px;
}
h2 {
    margin-bottom: 5px;
}
input {
  width: 50px;
}
input.large {
    width: auto;
}
input.steam {
  width: 75px;
}
.increase,
.decrease {
    width: 25px;
}
select,
option {
    color: #333;
}
#path {
    width: 200px;
}
#path-warning {
    color: red;
    display: none;
}
