* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 14px sans-serif;
    color: white;
}
body {
    background: #333;
    margin: 3px;
}
input[type="number"],
input[type="text"],
button {
    border: none;
    background: #444;
    padding: 5px;
    margin: 1px;
    outline: none;
}
button {
    color: #eee;
    cursor: pointer;
}
button:hover {
    color: #ccc;
}
button:active {
    color: #aaa;
}
.row {
    overflow: scroll;
    white-space: nowrap;
}
.row > div {
    display: inline-block;
    text-align: center;
    margin: 5px;
}
.defense img {
    display: block;
    fill: white;
    height: 120px;
    margin: 10px;
}
.row input {
    width: 40px;
}
input.large {
    width: auto;
}
.increase,
.decrease {
    width: 25px;
}

td {
    border: solid 1px white;
}